div.displayfile {
    background-color: #f0f5f5;
    border-style: solid;
    border-width: thin;
    white-space: pre;
    font-family: monospace;
    #display: block;
    #unicode-bidi: embed;
    margin-left: 30px;
    margin-right: 30px;
}
