div.displayfile {
    background-color: #f05f5f;
    border-style: solid;
    border-width: thin;
    white-space: pre;
    font-family: monospace;
    display: block;
    unicode-bidi: embed;
    margin-left: 20px;
    margin-right: 20px;
}
