.displayfile.highlight {
    background: #f0f5f5;
#    border-style: solid;
#    border-width: thin;
#    white-space: pre;
#    font-family: monospace;
#    display: block;
#    overflow: auto;
#    unicode-bidi: embed;
#    margin-left: 20px;
#    margin-right: 20px;
}


.highlight .blah { background-color: #f0f5f5; background: blue }

